<% var data = jsonData; %>
<!DOCTYPE html>
<html lang="ja">
<head>
    <link rel="stylesheet" href="../contents/css/style.css">
    <title><%- data.title %> ｜ EJS-AMP-test</title>
    <link rel="canonical" href="/amp-html/<%- data.name %>_amp.html">
</head>
