<h2>成分</h2>
<img src="../contents/image/orange_img01.png" alt="">
<p>主成分として4-6%のショ糖と0.7-1.2%のクエン酸を含む。ビタミンCを40-60mg/100g前後、ビタミンA効力を10-42IU/100g前後含む。遊離アミノ酸として、アスパラギン、アスパラギン酸、プロリン、γ-アミノ酪酸、アルギニンなどを多く含む。</p>
